# {{ ansible_managed }}

{% if training_session_attendees is defined and training_session_attendees|int > 5 %}
success = true
default_expression = "Hurray!"
{% else %}
success = false
default_expression = "Ohhh!"
{% endif %}
